<launch>
    <arg name="output" default="screen"/>
    <arg name="objectBasePath" default="$(find extended_object_detection)/config/object_base_example/ObjectBaseExample.xml"/>
    
    <include file="$(find openni_launch)/launch/openni.launch">                
        <arg name="depth_registration" value="true"/>
    </include>
    
    <node name="extended_object_detection" pkg="extended_object_detection" type="extended_object_detection_node" output="screen"  >
        
        <param name="objectBasePath" value="$(arg objectBasePath)"/>
        <param name="videoProcessUpdateRate" value="5"/>
        <param name="screenOutput" value="false"/>
        <param name="publishImage" value="true"/>
        <param name="publishMarkers" value="true"/>                
        <param name="subscribeDepth" value="true"/>
        <param name="maxContourPoints" value="-1"/>
        
        <remap from="camera/image_raw" to="/camera/rgb/image_raw"/>
        <remap from="camera/info" to="/camera/rgb/camera_info"/>
        <remap from="depth/image_raw" to="/camera/depth_registered/image_raw"/>
        <remap from="depth/info" to="/camera/depth_registered/camera_info"/>
        
    </node>
              
    <!-- visualization -->
    <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find extended_object_detection)/config/eod_example.rviz --opengl 300" />
    
    <node pkg="tf" type="static_transform_publisher" name="static_cam_pub"
        args="0 0 0 0 0 0 map camera_link 100"/>  
    
</launch>
